# Unity ignore file
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serData/
/[Aa]ssets/AssetStoreTools*
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
/Assets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.plastic/

